<div style="display: flex; flex-direction: row; margin-top: 2%; justify-content: space-evenly;">
    <a class="subtitle" href="mailto:davidfg168@gmail.com" style="text-decoration: none;"><pre>
    
▓█████  ███▄ ▄███▓ ▄▄▄       ██▓ ██▓    
▓█   ▀ ▓██▒▀█▀ ██▒▒████▄    ▓██▒▓██▒    
▒███   ▓██    ▓██░▒██  ▀█▄  ▒██▒▒██░    
▒▓█  ▄ ▒██    ▒██ ░██▄▄▄▄██ ░██░▒██░    
░▒████▒▒██▒   ░██▒ ▓█   ▓██▒░██░░██████▒
░░ ▒░ ░░ ▒░   ░  ░ ▒▒   ▓▒█░░▓  ░ ▒░▓  ░
 ░ ░  ░░  ░      ░  ▒   ▒▒ ░ ▒ ░░ ░ ▒  ░
   ░   ░      ░     ░   ▒    ▒ ░  ░ ░   
   ░  ░       ░         ░  ░ ░      ░  ░        
    </pre></a>
    <a class="subtitle"  style="text-decoration: none;" href="https://github.com/litios"><pre>

  ▄████  ██▓▄▄▄█████▓ ██░ ██  █    ██  ▄▄▄▄   
  ██▒ ▀█▒▓██▒▓  ██▒ ▓▒▓██░ ██▒ ██  ▓██▒▓█████▄ 
 ▒██░▄▄▄░▒██▒▒ ▓██░ ▒░▒██▀▀██░▓██  ▒██░▒██▒ ▄██
 ░▓█  ██▓░██░░ ▓██▓ ░ ░▓█ ░██ ▓▓█  ░██░▒██░█▀  
 ░▒▓███▀▒░██░  ▒██▒ ░ ░▓█▒░██▓▒▒█████▓ ░▓█  ▀█▓
  ░▒   ▒ ░▓    ▒ ░░    ▒ ░░▒░▒░▒▓▒ ▒ ▒ ░▒▓███▀▒
   ░   ░  ▒ ░    ░     ▒ ░▒░ ░░░▒░ ░ ░ ▒░▒   ░ 
 ░ ░   ░  ▒ ░  ░       ░  ░░ ░ ░░░ ░ ░  ░    ░ 
       ░  ░            ░  ░  ░   ░      ░       
    </pre></a>
</div>