---
layout: default
---
<header>
  <pre style="font-size: medium">
     ___               ___           ___     ___          ___        ___    
    /__/\             /  /\         /  /\   /  /\        /  /\      /  /\   
    \  \:\      __   /  /:/        /  /:/  /  /:/       /  /::\    /  /:/ 
     \  \:\    / /\ /__/::\       /  /:   /__/::\      /  /:/\:\  /__/:/ /\
      \  \:\  / /:/ \__\/\:\__   /  /::\  \__\/\:\__  /__/:/\_\:\ \  \:\/::\
       \  \:\/ /:/     \  \:\/\ /__/:/\:\    \  \:\/\ \  \:\/ /:/  \  \::/\:\ 
        \  \:\/:/       \__\::/ \__\/  \:\    \__\::/  \  \:\/:/    \__\/ /:/
         \  \::/        /__/:/       \  \:\   /__/:/    \  \::/       /__/:/  
          \__\/         \__\/         \__\/   \__\/      \ _\/        \__\/   
  
  </pre>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{% include menu_item.html collection=site.data.menu.entries %}
