---
layout: front
---
 <!-- 
 ___               ___           ___     ___          ___        ___    
/__/\             /  /\         /  /\   /  /\        /  /\      /  /\   
\  \:\      __   /  /:/        /  /:/  /  /:/       /  /::\    /  /:/ 
 \  \:\    / /\ /__/::\       /  /:   /__/::\      /  /:/\:\  /__/:/ /\
  \  \:\  / /:/ \__\/\:\__   /  /::\  \__\/\:\__  /__/:/\_\:\ \  \:\/::\
   \  \:\/ /:/     \  \:\/\ /__/:/\:\    \  \:\/\ \  \:\/ /:/  \  \::/\:\ 
    \  \:\/:/       \__\::/ \__\/  \:\    \__\::/  \  \:\/:/    \__\/ /:/
     \  \::/        /__/:/       \  \:\   /__/:/    \  \::/       /__/:/  
      \__\/         \__\/         \__\/   \__\/      \ _\/        \__\/   

  -->
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

<header>
  <pre id="head" class="title" style=" text-align: center; height: 18vw"></pre>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>
  <div style="display:flex; justify-content: space-between; flex-direction: column; margin-left: 10vw; margin-right: 10vw;">
    {% include aboutme.html%}
    <div class="sections">
    {% include cves.html%}
    {% include research.html%}
    {% include CTFs.html%}
    </div>
    <a href="https://keys.openpgp.org/search?q=davidfg168%40gmail.com"><p style="text-align: center; font-size: 1em; margin-top: 10%;" class="vt323">0x8F08E021E3108B0A712070D4554A2B75867D682D</p></a>
  </div>

<script>
  function typewriterEffect(elementId, text, speed = 100) {
      let index = 0;
      const element = document.getElementById(elementId);
      
      function type() {
          if (index < text.length) {
              element.textContent += text[index];
              index++;
              setTimeout(type, speed); // Recursive call with delay
          }
      }
      
      type();
  }
  
  // Example usage
  const text=" ██▓      ██▓▄ ░██████▓  ██▓  ▒█████     ██████ \n▓██▒     ▓██▒▓   ██▒ ▓▒ ▓██▒ ▒██▒  ██▒ ▒██    ▒ \n▒██░     ▒██▒▒  ▓██░ ▒░ ▒██▒ ▒██░  ██▒ ░ ▓██▄   \n▒██░     ░██░░  ▓██▓ ░  ░██░ ▒██   ██░   ▒   ██▒\n░██████▒ ░██░   ▒██▒ ░  ░██░ ░ ████▓▒░ ▒██████▒▒\n░ ▒░▓  ░ ░▓     ▒ ░░    ░▓   ░ ▒░▒░▒░  ▒ ▒▓▒ ▒ ░\n░ ░ ▒  ░  ▒ ░     ░      ▒ ░   ░ ▒ ▒░  ░ ░▒  ░ ░\n  ░ ░     ▒ ░   ░        ▒ ░ ░ ░ ░ ▒   ░  ░  ░  \n    ░  ░  ░              ░       ░ ░         ░  "
  typewriterEffect("head", text, 5);
  </script>
