---
layout: front
---
 <!-- 
 ___               ___           ___     ___          ___        ___    
/__/\             /  /\         /  /\   /  /\        /  /\      /  /\   
\  \:\      __   /  /:/        /  /:/  /  /:/       /  /::\    /  /:/ 
 \  \:\    / /\ /__/::\       /  /:   /__/::\      /  /:/\:\  /__/:/ /\
  \  \:\  / /:/ \__\/\:\__   /  /::\  \__\/\:\__  /__/:/\_\:\ \  \:\/::\
   \  \:\/ /:/     \  \:\/\ /__/:/\:\    \  \:\/\ \  \:\/ /:/  \  \::/\:\ 
    \  \:\/:/       \__\::/ \__\/  \:\    \__\::/  \  \:\/:/    \__\/ /:/
     \  \::/        /__/:/       \  \:\   /__/:/    \  \::/       /__/:/  
      \__\/         \__\/         \__\/   \__\/      \ _\/        \__\/   

  -->

<header>
  <pre id="head" class="title" style=" text-align: center; height: 18vw"></pre>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>
  <div style="display:flex; justify-content: space-between; flex-direction: column; margin-left: 10vw; margin-right: 10vw;">
    {% include aboutme.html%}
    <div class="sections">
    {% include cves.html%}
    {% include research.html%}
    {% include CTFs.html%}
    </div>
  </div>

<!-- <div style="display:flex; justify-content: space-between; flex-direction: column; margin-left: 20vw;">
{% include menu_item.html collection=site.data.menu.entries %}
</div> -->
<script>
  function typewriterEffect(elementId, text, speed = 100) {
      let index = 0;
      const element = document.getElementById(elementId);
      
      function type() {
          if (index < text.length) {
              element.textContent += text[index];
              index++;
              setTimeout(type, speed); // Recursive call with delay
          }
      }
      
      type();
  }
  
  // Example usage
  const texta=" ___               ___           ___     ___          ___        ___     \n/__/\\             /  /\\         /  /\\   /  /\\        /  /\\      /  /\\    \n\\  \\:\\      __   /  /:/        /  /:/  /  /:/       /  /::\\    /  /:/    \n \\  \\:\\    / /\\ /__/::\\       /  /:   /__/::\\      /  /:/\\:\\  /__/:/ /\\  \n  \\  \\:\\  / /:/ \\__\\/\\:\\__   /  /::\\  \\__\\/\\:\\__  /__/:/\\_\\:\\ \\  \\:\\/::\\ \n   \\  \\:\\/ /:/     \\  \\:\\/\\ /__/:/\\:\\    \\  \\:\\/\\ \\  \\:\\/ /:/  \\  \\::/\\:\\\n    \\  \\:\\/:/       \\__\\::/ \\__\\/  \\:\\    \\__\\::/  \\  \\:\\/:/    \\__\\/ /:/\n     \\  \\::/        /__/:/       \\  \\:\\   /__/:/    \\  \\::/       /__/:/ \n      \\__\\/         \\__\\/         \\__\\/   \\__\\/      \\ _\\/        \\__\\/  "
  const text=" ██▓      ██▓▄ ░██████▓  ██▓  ▒█████     ██████ \n▓██▒     ▓██▒▓   ██▒ ▓▒ ▓██▒ ▒██▒  ██▒ ▒██    ▒ \n▒██░     ▒██▒▒  ▓██░ ▒░ ▒██▒ ▒██░  ██▒ ░ ▓██▄   \n▒██░     ░██░░  ▓██▓ ░  ░██░ ▒██   ██░   ▒   ██▒\n░██████▒ ░██░   ▒██▒ ░  ░██░ ░ ████▓▒░ ▒██████▒▒\n░ ▒░▓  ░ ░▓     ▒ ░░    ░▓   ░ ▒░▒░▒░  ▒ ▒▓▒ ▒ ░\n░ ░ ▒  ░  ▒ ░     ░      ▒ ░   ░ ▒ ▒░  ░ ░▒  ░ ░\n  ░ ░     ▒ ░   ░        ▒ ░ ░ ░ ░ ▒   ░  ░  ░  \n    ░  ░  ░              ░       ░ ░         ░  "
  typewriterEffect("head", text, 5);
  </script>
